.PropPage {
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--Pine-Green),
    var(--Light-Jade)
  );
}
.PropPage__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
}

.PropPage__image {
  border-radius: 2rem 6rem 2rem 6rem;
  width: 100%;
}
.PropPage__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.PropPage__Title {
  font-size: 2rem;
  color: var(--Pine-Green);
  font-family: aladin;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.PropPage__Sub {
  font-size: 1.1rem;
  color: gray;
  margin-bottom: 1rem;
}
.PropPage__body__Wrapper {
  display: flex;

  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.PropPage__body__left,
.PropPage__body__right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.propPage__text {
  color: gray;
  display: flex;
  justify-content: start;
  align-items: center;
}
.propPage__icon {
  background-color: var(--Pine-Green);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: var(--white);
}
.propPage__text:hover {
  text-decoration: underline;
  color: rgb(27, 27, 27);
  cursor: pointer;
}
.propPage__icon:hover {
  color: var(--Lemon-Lime);
  cursor: pointer;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .PropPage__container {
    flex-direction: column;
    padding: 1rem;
    margin-top: 0;
  }
  .PropPage__body {
    padding: 1rem;
    width: 100%;
  }
  .PropPage__body__Wrapper {
    flex-direction: column;
  }
  .PropPage__imgWrapper {
    width: 100%;
  }
}

/* Desktop Size */
@media only screen and (min-width: 900px) {
  .PropPage__container {
    flex-direction: row;
    padding: 3rem;
    margin-top: 9vh;
  }
  .PropPage__body {
    padding: 1rem 3rem;
    width: 50%;
  }
  .PropPage__body__Wrapper {
    flex-direction: row;
  }
  .PropPage__imgWrapper {
    width: 25%;
  }
}
