.NewsMain__main {
  width: 100%;
  background-color: var(--white);
  display: flex;
  gap: 2rem;
}

.main__body__row {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.main__body__col {
  display: flex;
  flex-direction: column;
}
.main__body__col__title {
  color: rgb(54, 54, 54);
}
.main__body__col__text {
  text-align: justify;
}

/* leftSider */

.main__leftSider {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main__leftSider__row {
  gap: 0.2rem;
  display: flex;
}
.leftSider__rowImg {
  width: 30%;
}
.leftSider__dataWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.leftSider__title {
  font-weight: 800;
  color: black;
}
.newsBar__container {
  width: 100%;
  background-color: var(--white);
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .NewsMain__main {
    padding: 1rem;
    flex-direction: column;
  }
  .main__body {
    width: 100%;
    text-align: start;
  }
  .main__body__row {
    flex-direction: column;
  }
  .main__body__col {
    width: 100%;
  }
  .row__revers {
    flex-direction: column-reverse;
  }
  .main__leftSider {
    width: 100%;
    border-left: none;
  }
  .main__body__col__title {
    font-size: 1.5rem;
    font-family: aladin;
    text-align: center;
    padding: 0.5rem;
  }
  .main__body__col__text {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
}

/* Desktop Size */
@media only screen and (min-width: 900px) {
  .NewsMain__main {
    padding: 5rem;
    flex-direction: row;
  }
  .main__body {
    width: 70%;
  }
  .main__body__row {
    flex-direction: row;
  }
  .main__body__col {
    width: 50%;
  }
  .main__leftSider {
    width: 30%;
    border-left: 1px solid gray;
  }
  .main__body__col__title {
    padding: 1rem;
    font-size: 2rem;
  }
  .main__body__col__text {
    padding: 1rem;
  }
}
