.mapSearch__wrapper {
  position: absolute;

  height: 80vh;
}
.mapSearch__Container {
  height: 80vh;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
.mapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 99;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white);
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.mapBtn:hover {
  background-color: black;
}
.selectBtn {
  top: 0;
  left: 38px;
}
.closeBtn {
  top: 0;
  right: 3px;
}
.infoBtn {
  bottom: 0;
  right: 0;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .mapSearch__wrapper {
    width: 100%;
    left: 0px;
    top: 9vh;
  }
}

/* Desktop Size */
@media only screen and (min-width: 900px) {
  .mapSearch__wrapper {
    width: 30%;
    left: 15px;
    top: 10rem;
  }
}
