.NewsCart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 24rem;
  border: 1px solid rgb(183, 183, 183);
}
.NewsCart__img {
  width: 100%;
}
.NewsCart__textContainer {
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.NewsCart__text {
  color: gray;
}
.NewsCart__link {
  color: var(--Pine-Green);
  text-decoration: underline;
}
.NewsCart__link:hover {
text-shadow: 1px 1px 1px var(--Mint-Green);
  cursor: pointer;
}
